*
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, pre
{
	text-indent: 2em;
}

h3, h4, h5, h6
{
	margin: 0;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.75em;
	color: cornflowerblue;
	border-left: 0.2em cornflowerblue solid;
	border-bottom: 0.1em cornflowerblue solid;
	padding: 0.2em;
	width: 15em;
}

h3
{
	font-size: 1.5em;
	transition: all, ease, 0.25s;
}

h3:hover
{
	transform: scale(1.1, 1.1);
	transform-origin: center;
	color: coral;
}

h4
{
	font-size: 1.25em;
	color: white;
}

h5
{
	font-size: 1.15em;
	margin: 0.5em;
	color: white;
	border-left: antiquewhite 0.2em solid;
	border-bottom: antiquewhite 0.1em solid;
	padding: 0.2em;
	width: 10em;
}

h6
{
	font-size: 1em;
}

a
{
	color: cornflowerblue;
}

/*header*/
header
{
	background: #3498db;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2.6em;
	z-index: 1;
	border-bottom: #ccd0d1 1px solid;
}

h1
{
	color: white;
	margin: 0.1em 0 0 3em;
}

body
{
	padding-top: 2.6em;
	background: #ecf0f1;
	margin: 0 5%;
	padding-bottom: 1.5em;
}

a:before, h3:before
{
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 9em;
	margin-top: -9em;
}

footer
{
	color: white;
	background: #3498db;
	position: fixed;
	top: 2.6em;
	right: 7em;
	display: block;
	height: 1.7em;
	z-index: 1;
	border-radius: 0 0 0.5em 0.5em;
	border: #ccd0d1 1px solid;
	border-top: 0;
}

footer > span
{
	margin: 0.5em;
	padding: 0.1em 0.2em;
	font-size: 1.2em;
	border-radius: 0.3em;
	cursor: pointer;
	transition: background ease 0.25s;
}

footer > span:hover
{
	background: #54b8fb;
}

/*route summary*/
.routesSummarySection{}

.routeSummaryName
{
	padding-left: 20px;
	display: block;
}

.routeSummaryName a
{
	transition: color ease 0.25s;
}

.routeSummaryName a:hover
{
	color: coral;
}

.routeSummaryName > span > span
{
	border-left: solid 1px lightslategray;
}

/*route details*/
.routesDetailsSection{}

.routeDetails
{
	display: block;
	background: lightgray;
	padding: 0.8em;
	margin: 1em;
	border-radius: 0.5em;
	position: relative;
}

.routeDetails > h3
{
	display: inline-block;
	cursor: pointer;
}

.routeDetails > span
{
	font-style: italic;
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 1em;
	text-align: left;
}

.routeDetails > a
{
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: black;
	margin-right: 0.3em;
}

.routeDetails div
{
	display: block;
}

.routeDetails div.folded
{
	display: none;
}

.methodContainer
{
	margin-bottom: 1em;
}

.methodContainer:last-child
{
	margin-bottom: 0;
}

.methodContainer > h4
{
	background: #9FBDF4;
	padding: 0.5em;
	display: inline-block;
	border-radius: 1em 1em 0 0;
	cursor: pointer;
	transition: border-radius ease 0.5s, background ease 0.25s;
	min-width: 4em;
	text-align: center;
}

.methodContainer > h4:hover
{
	background: #7F9DD4;
}

.methodContainer > h4.folded
{
	border-radius: 0;
}

.method
{
	background: #9FBDF4;
	border-radius: 0 1em 1em 1em;
	padding: 0.5em;
	display: block;
}

.method.folded
{
	display: none;
}

.method > p
{
	margin: 0;
}

.propertyContainer > table
{
	margin-left: 1em;
}

.propertyContainer > table  tr td:first-child
{
	font-style: italic;
	padding-right: 1em;
}

.propertyContainer
{
}

.params
{
	border-spacing: 0;
	border-collapse: collapse;
	margin-left: 1em;
}

.params td, .params th
{
	border: 1px solid black;
	padding: .2em;
}

.params tr:nth-child(even)
{
	background: #8BA9DE;
}

.params tr:nth-child(odd)
{
	background: #B4D2FF;
}

.params tr:first-child
{
	background: inherit;
}

.params td:nth-child(2)
{
	text-align: center;
}

.responsesContainer
{
	padding: 0em 0.5em;
}

.responseContainer
{
	padding-bottom: 0.5em;
}

.responseContainer > h6
{
	background: #F4D69F;
	display: inline-block;
	padding: 0.5em;
	border-radius: 1em 1em 0 0;
	cursor: pointer;
	transition: border-radius ease 0.5s, background ease 0.25s;
	min-width: 4em;
	text-align: center;
}

.responseContainer > h6:hover
{
	background: #E4B67F;
}

.responseContainer > h6.folded
{
	border-radius: 0;
}

.response
{
	background: #F4D69F;
	padding: 0.5em 0.5em 1em 0.5em;
	border-radius: 0 1em 1em 1em;
	display: block;
}

.response.folded
{
	display: none;
}

pre:nth-of-type(2)
{
	text-indent: 0;
	tab-size: 4;
	font-family: Monospaced, "Andale Mono", monospace;
	margin-bottom: -1em;
	margin-top: 0.25em;
}

code
{
	border-radius: 0.5em;
}